<h2 class="page-header">New Book</h2>
<!-- change our form inside of new page to be of the type of multi-part form (enctype) -->
<!-- send data multipart data which could include a file -->

<form action="/books" method="POST" >
  <!-- enctype="multipart/form-data" -->
    <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button  class="btn btn-primary" type="submit">Create</button>
  </div>  
</form>
  
